/*Mouse pointer css*/
.mouse-pointer {
    position: fixed;
    top: 0;
    left: 0;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: rgba(242, 255, 255, 0.3);
    mix-blend-mode: screen;
    filter: blur(15px);
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

/*Homepage css*/
#title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 4vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
}

#alert-text {
    color: #64FFB4;
    font-family: "Rubik", sans-serif;
    font-size: 2em;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
}

.content {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.squares-container {
    position: absolute;
    margin-top: 23vh;
    right: 15vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px; /* Adjust the gap between squares */
}

.square {
    width: 4vh;
    height: 4vh;
    background-image: linear-gradient(to top,#64FFB4, #6464FF);
}

.grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.075) 25%,
            transparent 25%,
            transparent 75%,
            rgba(255, 255, 255, 0.075) 75%
    );
    background-size: 80px 80px;
    z-index: -1;
}

.centered {
    left: 40%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title > .fancy {
    font-size: 1.2em;
    line-height: 0.9em;
}

#title > .fancy > .gradient-text {
    background: linear-gradient(to right, #64FFB4, #6464FF, #64FFB4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: colorMovement 3s linear infinite;
}

@keyframes colorMovement {
    0% {
        background-position: -100% center;
    }
    100% {
        background-position: 100% center;
    }
}


#btn {
    display: block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #64FFB4;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

#btn:hover {
    animation: shake 0.7s infinite;
    transform-origin: center;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2.5px) rotate(2deg);
    }
    50% {
        transform: translateX(2.5px) rotate(-2deg);
    }
    75% {
        transform: translateX(-2.5px) rotate(2deg);
    }
    100% {
        transform: translateX(0);
    }
}

#btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4CBC86;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

#btn:hover::before {
    transform: translateX(0);
}


/* HIDDEN DIV CONTENT*/
#hidden-div-title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 4vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 3;
}

.center-top {
    left: 50%;
    top: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#hidden-div-title > .fancy > .gradient-text {
    background: linear-gradient(to right, #64FFB4, #6464FF, #64FFB4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: colorMovement 3s linear infinite;
}

/* Panel */
.panel {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #64FFB4, #6464FF);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
}

.panel-item {
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Align items at the start of the container */
    width: 100%;
    margin-bottom: 10px;
}

.panel-item > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items at the start of each column */
    margin-right: 5vw; /* Add spacing between columns */
}

.panel-item-label {
    font-family: "Rubik", sans-serif;
    color: #fff;
}

.panel-item-value {
    color: #fff;
    font-size: 1.5em; /* Increase font size for values */
}

.second-panel {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #64FFB4, #6464FF);
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
}

.panel-table {
    width: 100%;
}

.panel-table td {
    padding: 10px 0;
}

.panel-item-label {
    font-family: "Rubik", sans-serif;
    color: #fff;
}

.panel-item-value {
    font-family: "Rubik", sans-serif;
    color: #fff;
    margin-right: 10px;
}

.panel-item-input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Rubik", sans-serif;
    color: #333;
}

.purchase-button {
    display: flex;
    justify-content: center;
}

.purchase-button button {
    width: 100%;
    padding: 0.9rem 10.5rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #64FFB4;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    font-family: inherit;
}

.purchase-button button:hover {

    transform-origin: center;
}

.purchase-button button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#64FFB4, #6464FF );
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.purchase-button button:hover::before {
    transform: translateX(0);
}

/* Admin Button */
.admin-button {
    display: flex;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 3px solid #64FFB4;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    margin-top: 10px;
    justify-content: center;
    align-items:center;
}

.admin-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add a margin top for spacing */
}

.admin-button:hover {
    animation: shake 0.7s infinite;
    transform-origin: center;
}


.admin-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4CBC86;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.admin-button:hover::before {
    transform: translateX(0);
}

.popup {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

